{% extends "layout/main_layout.html" %}

{% block 'content' %}
<!-- Blog Post -->
<!-- Title -->
<h1>{{ post.title}}</h1>
<p><strong>Tags:</strong>
    {% for tag in post.tags.all %}
    <a href="{% url 'tag' slug=tag.slug %}">{{ tag.name }}</a>
    {% empty %}
    <span>No tags</span>
    {% endfor %}
    <!-- Author -->
<p class="lead">
    by <a href="#">{{ post.user }}</a>
</p>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.published_date }}</p>
<hr>
<!-- Preview Image -->
<img class="img-responsive" src="{{ post.image }}" alt="">
<hr>
<!-- Post Content -->
<p class="lead">{{ post.content }}</p>
<hr>
<!-- Blog Comments -->
<!-- Comments Form -->
<div class="well">
    <h4>Leave a Comment:</h4>
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<hr>
<!-- Posted Comments -->
<!-- Comment -->
{% for c in comments %}

<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="http://placehold.it/64x64" alt="">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{ c.user }}
            <small>{{ c.created_at }}</small>
        </h4>
        {{ c.text }}

        {% for sub in c.subcomments.all %}
        <!-- Nested Comment -->
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/64x64" alt="">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ sub.user }}
                    <small>{{ sub.created_at }}</small>
                </h4>
                {{ sub.text }}
            </div>
        </div>
        <!-- End Nested Comment -->
        {% endfor %}
    </div>
</div>

{% empty %}
{% endfor %}
{% endblock %}