<style>

    .navbar .nav-link {
    font-size: 18px;
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

        <a class="navbar-brand fw-bold" href="{% url 'blog:home' %}">
            Start Bootstrap
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link px-3" href="{% url 'blog:home' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-3" href="{% url 'gallery:gallery' %}">Gallery</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-3" href="{% url 'blog:contacts' %}">Contact</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link px-3" href="{% url 'blog:create_post' %}">
                        Create post
                    </a>
                </li>
                {% endif %}
                <li class="nav-item dropdown d-flex align-items-center">
                    <a class="nav-link px-3" href="{% url 'shop:product_list' %}">
                        Shop
                    </a>

                    <button class="btn btn-link nav-link dropdown-toggle shop-dropdown-toggle p-0"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'shop:product_list' %}">
                                All products
                            </a>
                        </li>
                        {% for category in categories %}
                        <li>
                            <a class="dropdown-item" href="{% url 'shop:category_products' slug=category.slug %}">
                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item ms-3">
                    <span class="navbar-text text-light">
                        Hello, {{ user.username }}
                    </span>
                </li>

                <li class="nav-item ms-2">
                    <a class="btn btn-sm btn-danger"
                       href="{% url 'blog:logout' %}">
                        Logout
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link px-3" href="{% url 'shop:cart_detail' %}">
                        Cart (<span id="cart-count">{{ cart_count }}</span>)
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>